@page
@model Lab3.Pages_ProvincePages.IndexModel
<!-- filepath: /c:/Users/davin/4870 Workspace/Lab3/Pages/ProvincePages/Index.cshtml -->

@{
    ViewData["Title"] = "Province Index";
}

<h1>Province List</h1>

<table class="table">
    <thead>
        <tr>
            <th>Province Code</th>
            <th>Province Name</th>
            <th>Cities</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var province in Model.Province)
        {
            <tr>
                <td>@province.ProvinceCode</td>
                <td>@province.ProvinceName</td>
                <td>
                    <ul>
                        @if (province.Cities != null)
                        {
                            @foreach (var city in province.Cities)
                            {
                                <li>@city.CityName</li>
                            }
                        }
                    </ul>
                </td>
            </tr>
        }
    </tbody>
</table>