@page
@model Lab3.Pages_ProvincePages.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Province List</h1>

<table class="table">
    <thead>
        <tr>
            <th>Province Code</th>
            <th>Province Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var province in Model.Province)
        {
            <tr>
                <td>@province.ProvinceCode</td>
                <td>@province.ProvinceName</td>
            </tr>
        }
    </tbody>
</table>
