@page
@model Lab3.Pages_CityPages.IndexModel

@{
    ViewData["Title"] = "City Index";
}

<h1>City List</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>City Id</th>
            <th>City Name</th>
            <th>Population</th>
            <th>Province Code</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var city in Model.City)
        {
            <tr>
                <td>@city.CityId</td>
                <td>@city.CityName</td>
                <td>@city.Population</td>
                <td>@city.ProvinceCode</td>
            </tr>
        }
    </tbody>
</table>
